@media screen and (max-width: 380px) {

  .main-header-primary {
    font-size: 3em;
  }

  .main-header-secondary {
    font-size: 2.5em;
  }

  .about {
    height: 150vh;
  }

  .about-box {
    width: 300px;
    height: 900px;
    top: 50%;
    left: 50%;
  }

  .about-box .primary-text {
    font-size: 2.5em;
  }

  .about-box .primary-about {
    padding-right: 0.5em;
    top: -6.5%;
  }

  .about-box .primary-project-contact {
    font-size: 2em;
    top: -12%;
  }

  .about-box .primary-skills {
    font-size: 1.3em;
  }

  .display-flex {
    flex-direction: column-reverse;
    gap: 1em;
    align-items: center;
  }

  .about-box .secondary-text {
    font-size: 1.1em;
    text-align: left;
  }

  .tech-list {
    gap: 0.5em;
  }

  .tech-list-together {
    display: flex;
    flex-direction: column;
  }

  .tech-list-text {
    text-align: left;
    font-size: 0.8em;
    width: 100%;
  }

  .tech-list-progress {
    width: 100%;
    margin: 1em 0;
  }

  .projects {
    margin: 0 auto;
    text-align: center;
    height: 110vh;
  }

  .about-box-projects {
    width: 300px;
    height: 900px;
    position: absolute;
    transform: translate(-50%, -90%);
    left: 50%;
  }

  .project {
    gap: 0.5em;
    height: auto;
    top: 5%;
    flex-direction: column;
  }

  .github-link {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
  }

  .contact {
    height: 100vh;
  }

  .contact .contact-box {
    top: 55%;
  }

  .contact-box {
    height: 450px;
    top: 60%;
  }

  .contact-form {
    width: 100%;
    margin: 2em auto;
  }

}
