@media screen and (max-width: 426px) {

  @keyframes close-from-left {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .tasty-burger {
    display: none;
  }

  .mini-button {
    display: block;
    animation: come-from-right 0.3s ease;
  }

  .mini-button-animation {
    animation: close-from-left 0.6s ease;
  }

  .menu {
    opacity: 0;
    transition: opacity 0.6s ease 0s, right 0.6s ease 0s;
    background: var(--q-color-secondary);
    z-index: 20;
    display: block;
    background: #1D1D1D;
    right: -300px;
    position: absolute;
    width: 70%;
    height: 100%;

    .q-btn {
      opacity: 0;
      position: absolute;
      left: 0;
    }

    ul {
      margin: 2em;
      display: flex;
      text-align: end;
      flex-direction: column;
      list-style-type: none;

      li {
        padding: 2em 0;
        display: block;
        float: right;

        a {
          display: block;
          font-size: 2em;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .menu-clicked {
    transition: opacity 0.4s ease 0s, right 0.4s ease 0s;
    opacity: 100;
    top: 0;
    right: 0;

    .q-btn {
      animation: come-from-top 0.3s ease;
      opacity: 1;
    }

    ul {
      animation: come-from-right 1s ease;
    }
  }


  .header {
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  }

  .links {
    display: flex;
    .q-btn-group {
      display: none;
    }
  }

  .main-header-primary {
    font-size: 3em;
  }

  .main-header-secondary {
    font-size: 2.5em;
  }

  .about {
    height: 130vh;
  }

  .about-box {
    width: 350px;
    height: 900px;
    top: 50%;
    left: 50%;
  }

  .about-box .primary-text {
    font-size: 2.5em;
  }

  .about-box .primary-about {
    padding-right: 0.5em;
    top: -7%;
  }

  .about-box .primary-project-contact {
    top: -12%;
  }

  .about-box .primary-skills {
    font-size: 1.7em;
  }

  .display-flex {
    flex-direction: column-reverse;
    gap: 1em;
    align-items: center;
  }

  .about-box .secondary-text {
    font-size: 1.1em;
    text-align: left;
  }


  .tech-list-text {
    text-align: left;
    font-size: 0.8em;
    width: 45%;
    display: block;
  }

  .tech-list-progress {
    width: 55%;
  }

  .projects {
    margin: 0 auto;
    text-align: center;
    height: 110vh;
  }

  .about-box-projects {
    width: 350px;
    height: 900px;
    position: absolute;
    transform: translate(-50%, -90%);
    left: 50%;
  }

  .project {
    gap: 0.5em;
    height: auto;
    top: 5%;
    flex-direction: column;
  }

  .github-link {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
  }

  .contact {
    height: 100vh;
  }

  .contact .contact-box {
    top: 50%;
  }

  .contact-box {
    height: 450px;
    top: 60%;
  }

  .contact-form {
    width: 100%;
    margin: 4em auto;
  }

  .useful-links {
    height: 50px;
    width: 100vw;
    bottom: 10vh;
    left: 0;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;

    .line {
      display: none;
    }

    ul li {
      display:inline;
    }
  }
}
