
.q-page {
  overflow: hidden;
  width: 100vw;
  position: relative;
  color: #fff;
  background: #171616;
}

.mini-button {
  display: none;
}

.menu {
  display: none;
}

.tasty-burger {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  animation: come-from-left 0.6s ease;
}

.header {
  background: var(--q-color-secondary);
  height: 100vh;
  background-image: linear-gradient(to top right, rgba(38, 38, 38, 0.6), rgba(48, 35, 35, 0.6)), url("../assets/HeroBackground.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navigation-logo {
  display: block;
  margin: 0 0;
  font-weight: bold;
  font-size: 1.2em;
  animation: come-from-left 0.6s ease;
}

.navigation-logo:hover {
  cursor: pointer;
}

.links {
  display: flex;
}

.q-btn-group {
  padding-right: 2em;
  animation: come-from-right 0.4s ease;
}

@keyframes come-from-right {

  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.q-btn-group a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.q-btn-item {
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}

.main-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-header-primary {
  font-size: 5em;
  animation: come-from-left 0.6s ease;
}

.main-header-secondary {
  font-size: 3em;
  font-weight: bold;
  animation: come-from-right 0.6s ease;
}

.main-header-image {
  width: 350px;
  border-radius: 50%;
  animation: come-from-top 0.6s ease;
  border: 4px solid var(--q-color-secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}


@keyframes come-from-left {

  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes come-from-right {

  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes come-from-top {

  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.about {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  max-width: 960px;
  position: relative;
  align-items: center;
}

.about-box {
  position: absolute;
  width: 700px;
  height: 500px;
  border-top: 2px solid var(--q-color-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-box .primary-text {
  text-align: left;
  padding: 0;
  font-size: 3em;
  text-transform: uppercase;
}

.about-box .primary-about {
  display: inline-block;
  padding-right: 1em;
  background: #171616;
  position: absolute;
  top: -12%;
  left: 0;
}

.about-box .primary-skills {
  font-size: 1.7em;
}

.display-flex {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: flex-start;
}

.about-box .secondary-text {
  font-stretch: expanded;
  top: 10%;
  position: relative;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 2.5em;
}


.secondary-text span a {
  text-decoration: none;
  color: white;
}

.secondary-text span a:hover {
  color: var(--q-color-primary);
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:link,
.btn:visited {
  font-size: 1.3em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  position: relative;
  background-color: var(--q-color-primary);
  color: var(--q-color-secondary);
}

.btn::after, .btn-mini::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-primary::after {
  background-color: var(--q-color-primary);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.tech-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-list-num1, .tech-list-num2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}


.tech-list-together {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tech-list-text {
  font-size: 1.2em;
  width: 40%;
  display: inline-block;
  margin: 0;
}

.tech-list-progress {
  width: 60%;
}

.profile-picture-container {
  display: block;
  position: relative;
}

.profile-picture-container:hover {
  cursor: pointer;
  .profile-picture-border {
    transform: translateY(10%);
  }

  .profile-pic {
    cursor: pointer;
    filter: none;
    transition: 0.3s ease;
    transform: translateY(0);
  }
}

.profile-picture-border {
  width: 150px;
  aspect-ratio: 1;
  border: 1px dashed var(--q-color-primary);
  border-radius: 10px;
  transition: 0.3s ease;
}


.profile-pic {
  filter: sepia(100%) contrast(0.8);
  display: block;
  width: 150px;
  float: right;
  margin: 0.5em;
  border-radius: 10px;
}

.projects {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  max-width: 960px;
  position: relative;
  align-items: center;
}

.about-box-projects {
  position: absolute;
  display: block;
  width: 700px;
  height: 500px;
  border-top: 2px solid var(--q-color-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project {
  gap: 10px;
  height: 150px;
  top: 10%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  animation: come-from-left 0.3 ease;
}

.project-text {
  text-align: left;
}

.project-text-primary {
  font-size: 1.5em;
}

.project-text-secondary {
  font-size: 1.1em;
}

.project-images {
  height: 100%;
}

.project img {
  height: 100%;
}

.github-link {
  display: flex;
  gap: 1em;
}

.contact {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  position: relative;
  align-items: center;
}

.contact-form {
  top: 2em;
  width: 80%;
  margin: 1em auto;
}

.q-form {
  margin-top: 2em;
}

.useful-links {
  width: 50px;
  left: 10%;
  bottom: 0;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.useful-links .line {
  width: 1px;
  height: 25vh;
  background: white;
}


.useful-links ul li {
  margin: 1em;
  list-style-type: none;
  display: flex;
}

.useful-links ul li a{
  text-decoration: none;
  color: white;
}

.useful-links .q-icon {
  transition: 0.3s ease-in;
}

.useful-links .q-icon:hover {
  color: var(--q-color-primary);
  transform: translate(10px);
}

.q-footer {
  height: auto;
  text-align: center;
  background: var(--q-color-secondary);
  padding: 0.5em 0;
}

.q-footer p {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}

.btn-mini:link,
.btn-mini:visited {
  font-size: 1em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}

.btn-mini:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.btn-mini:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary-mini {
  position: relative;
  background-color: var(--q-color-primary);
  color: var(--q-color-secondary);
}


.btn-primary-mini::after {
  background-color: var(--q-color-primary);
}

.btn-mini:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
